page-customercare {
    .getintouch{
        padding: 0%;
        height: calc(50% - 0px);
        width: calc(100% - 0px);
    }

    #myInput {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }    
}
